$colorRed: #e74c3c;
$colorDarkRed: #9d4744;
$colorWhite: #fef6f5;
$colorBody: #ffffff;
$colorBlue: #0969a1;
$colorLight: #f1f2f3;
$colorDarkBlue: #2c3e50;
$colorlightBlue: #e6f4fd;
$colorlightdark: #ebeef2;
